body {
    font-family: sans-serif;
    margin: 20px;
}

#editor {
    height: 600px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    color: #333;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: 3px dashed #aaa;
    z-index: 9999;
}

.CodeMirror {
    height: 100% !important;
    /* Schlüssel: volle Höhe */
    width: 100% !important;
    /* volle Breite */
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    background-color: #fff;
    color: #444;
    padding: 2px;
}

.item {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#editInput {
    position: absolute;
    display: none;
    font-size: 16px;
    z-index: 1000;
}

#output {
    background: #f5f5f5;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
    font-family: monospace;
    white-space: pre-wrap;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    /* Primärfarbe (Blau) */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 140px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.green {
    background-color: #7fbd14;
}

button.green:hover {
    background-color: #619010;
}

button.red {
    background-color: #bd1414;
}

button.red:hover {
    background-color: #8f1212;
}


button:hover {
    background-color: #0056b3;
    /* Dunkleres Blau bei Hover */
    transform: translateY(-1px);
    /* Kleiner "Lift"-Effekt */
}

button:active {
    transform: translateY(0);
    /* Zurück beim Klicken */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


iframe {
    display: none;
}